.header {
  text-align: center;
}

.header__title {
  display: inline-block;
  font-size: 4rem;
  color: #333333;
  overflow: hidden;
}

.header__title_margin_none {
  margin: 0;
}

.header__title_hoverable::after {
  display: block;
  position: relative;
  left: -500px;
  content: "";
  width: 100%;
  height: 10px;
  background: #333333;
  transition: left 1s 0s;
}

.header__title_hoverable:hover::after {
  left: 0px;
}